---
layout: default
title: Coopera:lab - Projects
---

<header class="masterhead-content">
  <div class="container">
    <h1 class="masterhead-title">
      Publications
    </h1>
    <!--<p class="masterhead-subtitle">
      We're searching for better ways of communication for software teams. You can check some of our projects bellow!
    </p>-->
  </div>
</header>

<div class="container">
  {% for pub in site.data.publications %}
    <h2>{{pub.year}}</h2>
    <ul>
    {% for work in pub.works %}
      <li>{{work}}</li>
    {% endfor %}
    </ul>
  {% endfor %}
</div>
