
  <!-- Navbar -->
  <nav class="navbar">
    <div class="container">
      <!-- Navbar Header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <span class="sr-only">Menu</span>
          MENU <i class="fa fa-bars"></i>
        </button>
        <a href="/" class="navbar-brand"><strong>coop</strong>era:lab</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/team">The Team</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/publications">Publications</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
