$font_color       : #77776b;
$primary_color    : #0ccec3;
$secondary_color  : #00a0c0;
$background_color : #ffffff;


html {
  font-size: 14px;
}

body {
  color: $font_color;
  background: $background_color;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: $primary_color;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    color: darken($primary_color, 10%);
  }
}

.container {
  max-width: 60rem;
}

.masterhead {
  background: #fff;
  // background: $primary_color;
  // color: #fff;
}

.masterhead-title {

}

.masterhead-subtitle {
  opacity: 0.8;
}

.masterhead-content {
  padding: 4rem 0;
}

h1,h2,h3,h4 {
  font-weight: 300;
  margin: 0.5em 0;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0
}

a.navbar-brand {
  color: $font_color;
}

.navbar-nav li {
  line-height: 50px;
}

.navbar-nav li a {
  margin: 0 15px;
  padding: 0;
  padding-bottom: 0.5rem;
  display: inline;
  line-height: 50px;
  opacity: 0.6;
  border-bottom: 1px solid transparent;
  &:hover {
    opacity: 1;
    color: $primary_color;
    border-color: $primary_color;
    background: transparent;
  }
}

.posts-index {
  margin: 0;
  // margin-top: 4rem;
  padding: 0;
  list-style: none;

  .post {
    margin-bottom: 4rem;
  }

  .post-meta {
    font-style: italic;
    opacity: 0.5;
    a {
      font-style: normal;
    }
  }
}
