$font_color: #77776b;
$primary_color: #4aa2e0;

html {
  font-size: 14px;
}

body {
  color: $font_color;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  text-decoration: none;
  color: $primary_color;
  &:hover {
    color: darken($primary_color, 15%);
  }
}

.container {
  max-width: 60rem;
}

.masterhead {
  // background: $primary_color;
  // color: #fff;
}

.masterhead-title {

}

.masterhead-subtitle {
  opacity: 0.8;
}

.masterhead-content {
  padding: 4rem 0;
}

h1,h2,h3,h4 {
  font-weight: 300;
  margin: 0.5em 0;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0
}

a.navbar-brand {
  color: $font_color;
}

.navbar-nav li {
  line-height: 50px;
}

.navbar-nav li a {
  padding: 0 15px;
  display: inline;
  line-height: 50px;
  &:hover {
    background: transparent;
  }
}

.posts-index {
  margin: 0;
  padding: 0;
  list-style: none;
  
  .post {
    
  }

  .post-meta {
    font-style: italic;
    opacity: 0.5;
  }
}
